
<div class="div text-center ">
<h1 >welcome to home page {{name}}</h1>
<a href="/user-logout" class="btn btn-danger">Logout</a>
<style>
  body{
    background-color: rgb(99, 99, 111);
  }
</style>
</div>